
  .user-acc {
    display : flex;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 30px;
  }
  
  .user-details{
    color: #a6a6a6;
    position:absolute;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    font-weight: lighter;
    display: flex;
    margin: auto 0;
}

  .name{
    bottom: 0;
    display: inline-table;
    margin: auto 5px;
}

  .Details, .Badges, .Actions, .Bookmarks{
    display: flex;
    justify-content: center;
    margin: auto 0;
    margin-right: 30px;
  }

  .user-acc img{
    float: left;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px;
    margin-left: 30px;
  }

  .user-acc h3{
    display: inline-grid;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: lighter;
  }
  
  .chart {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


.nav-link {
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}
.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

a.nav-link {
  color: #76797B;
  text-decoration: none;
  font-weight: bold;
}
a.nav-link:hover {
  color: #124512;
}


.element {
  margin-top: 20px;
  padding: 1.5rem;
  margin-bottom: 30px;
  box-shadow: #63636333 0px 2px 8px 0px;
  border-radius: 30px;
  width: 90%;
  margin-left: 5px;
  text-align: center;
}

.user-settings {
  padding: 60px;
  margin: 20px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  
}