.footer {
    margin-top: 10vh;
    background-color: #ffffff40;
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 30px );
    transform: translateZ(0);
    padding: 3rem;
}

.footer-element {
    font-size: 16px;
    color: #a6a6a6;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 2rem;
}

.footer-top {
  padding: 3rem;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
  border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.footer-objectives {
    display: inline-table;
}

.objective::before {
    content: '';
    width: auto;
    padding-bottom: 100%;
}

.objective {
    line-height: 1rem;
    display: inline-flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    color: #124512;
    min-width: 6.3em;
    border-radius: 50%;
    vertical-align: middle;
}

.objective-one {
    background-color: rgb(63, 126, 68);
    color: white;
}

.objective-two {
    background-color: #0a97d9;
    color: white;
}

.objective-three {
    background-color: #55c02b;
    color: white;
}

.footer-bottom {
    padding: 3rem;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0));
    border-top: 1px solid #e4e4e4;
    color: #555555;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.footer-list {
    padding: 10px;
    display: inline-table;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.lid:hover {
  animation: blink 2.4s infinite;
}

.eye:hover {
  animation: squeeze 2.4s infinite;
}

.wiggle:hover {
  animation: wiggle 2.5s infinite;
}

@keyframes blink {
  0% {
    transform: none;
    animation-timing-function: ease-in;
  }
  7% { transform: translateY(15px) scaleY(0) }
  10% { transform: none; }
  100% { animation-timing-function: ease-out; }
}

@keyframes squeeze {
  0% {
    transform: none;
    animation-timing-function: ease-in;
  }
  7% { transform: translateY(3px) scaleY(0.8) }
  10% { transform: none; }
  100% { animation-timing-function: ease-out; }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(0deg); }
  15% { transform: rotate(10deg); }
  25% { transform: rotate(-10deg); }
  30% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}