.footer {
  background: #ffffffe6;
  color: #202124;
  margin-top: 12rem;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  padding: 3rem;
  text-align: center;
  transform: translateZ(0);
}

.footer-objectives {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.objective::before {
  content: "";
  width: auto;
  padding-bottom: 100%;
}

.objective {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #124512;
  min-width: 6.6em;
  border-radius: 50%;
}

.objective-one {
  background-color: #3f7e44;
  color: white;
}

.objective-two {
  background-color: #0a97d9;
  color: white;
}

.objective-three {
  background-color: #55c02b;
  color: white;
}

.footer-ack {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 0;
}

.footer-ack-brand {
  font-size: 24px;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.lid:hover {
  animation: blink 2.2s infinite;
}

.eye:hover {
  animation: squeeze 2.2s infinite;
}

.wiggle:hover {
  animation: wiggle 2.2s infinite;
}

.distort:hover {
  animation: text-shadow 2.2s ease-in-out infinite;
}

@keyframes blink {
  0% {
    transform: none;
    animation-timing-function: ease-in;
  }
  7% {
    transform: translateY(15px) scaleY(0);
  }
  10% {
    transform: none;
  }
  100% {
    animation-timing-function: ease-out;
  }
}

@keyframes squeeze {
  0% {
    transform: none;
    animation-timing-function: ease-in;
  }
  7% {
    transform: translateY(3px) scaleY(0.8);
  }
  10% {
    transform: none;
  }
  100% {
    animation-timing-function: ease-out;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes text-shadow {
  0% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #fb203b, 
          0 0 0 #fefc4b;
  }

  20% {  
      transform: translateY(-1em);
      text-shadow: 
          0 0.125em 0 #0c2ffb, 
          0 0.25em 0 #2cfcfd, 
          0 -0.125em 0 #fb203b, 
          0 -0.25em 0 #fefc4b;
  }

  40% {  
      transform: translateY(0.5em);
      text-shadow: 
          0 -0.0625em 0 #0c2ffb, 
          0 -0.125em 0 #2cfcfd, 
          0 0.0625em 0 #fb203b, 
          0 0.125em 0 #fefc4b;
  }
  
 60% {
      transform: translateY(-0.25em);
      text-shadow: 
          0 0.03125em 0 #0c2ffb, 
          0 0.0625em 0 #2cfcfd, 
          0 -0.03125em 0 #fb203b, 
          0 -0.0625em 0 #fefc4b;
  }

  80% {  
      transform: translateY(0);
      text-shadow: 
          0 0 0 #0c2ffb, 
          0 0 0 #2cfcfd, 
          0 0 0 #fb203b, 
          0 0 0 #fefc4b;
  }
}