.login {
    max-width: 30rem;
    margin-top: -9rem;
}

.login-input {
    border-radius: 30px;
    padding: 7px;
    padding-left: 20px;
}

.login-button {
    color: #ffffff;
    background-color: #009664;
    border-color: #00966448;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px;
}

.login-button:hover {
    color: #124512;
    border-color: #009664;
}

.formErrors {
    border-radius: 25px;
}


div.abcRioButtonLightBlue, .abcRioButtonLightBlue:active {
    border-radius: 30px;
    text-shadow: none;
    text-align: center;
    border: 1px solid #28a745;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

div.abcRioButtonLightBlue:hover {
    background-color: #28a745;
    border-radius: 30px;
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
}

div.abcRioButtonLightBlue:hover *{
    color: #ffffff;
}

.abcRioButtonContentWrapper, .abcRioButtonContentWrapper *, .abcRioButton, .abcRioButtonLightBlue {
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
    cursor: pointer;
}

div.abcRioButton.abcRioButtonLightBlue {
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
    height: 2.49rem !important;
}

.google-sign-in > div > div > div > span {
    box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%) !important;
    color: #124512;
    display: inline-block !important;
    font-weight: 400 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    padding: .275rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    margin-left: -34px !important;
}

.google-sign-in > div > div > div {
    padding: .1rem !important;
}

/*span.abcRioButtonContents {
    margin-left: -34px;
}

span#not_signed_in8rwt438k4rgw {
    margin-left: -34px;
}

#connected8rwt438k4rgw {
    margin-left: -34px;
}*/

button.kep-login-facebook.metro {
    border-radius: 50px;
    text-transform: none;
    width: 100%;
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button.kep-login-facebook.metro:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.sign-in-link {
    text-decoration: none;
    cursor: pointer;
    color: #124512;
    font-weight: 400;
}

.sign-in-link:hover {
    text-decoration: underline;
}

.login-divider {
	margin: 30px;
	display: flex;
}

.line-login-divider {
	border-bottom: 1px solid #cecece;
	box-sizing: border-box;
	flex-grow: 1;
}

.or-login-divider {
	margin: 0 10px;
	font-size: 12px;
	white-space: nowrap;
	line-height: 0;
	color: #80868b;
}

.swal2-popup {
    border-radius: 50px;
}

.swal2-confirm.swal2-styled {
    text-decoration: none;
    color: #ffffff;
    background-color: #009664;
    border-color: #00966448 !important;
    border-radius: 30px;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.swal2-confirm.swal2-styled:hover {
    background-color: white;
    border-color: #00966448 !important;
    color: black;
}