.button1 {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #009664;
    border-color: #00966448;
    border-radius: 50px;
    text-decoration: none;
}

.button1:hover {
    background-color: white;
    border-color: #00966448;
    color: black;
}

.carousel-wrapper {
    max-width: 1296px;
    margin: 0 auto;
  }

  .carousel-wrapper {
    padding: 15px;
    height: 550px;
    width: 900px;
  }
  
  .charities {
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    border: 1px solid #009664;
    padding: 1rem;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 40px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .item-info {
      width: 60%;
  }

