@import url(https://fonts.googleapis.com/css?family=Google+Sans);

* {
  font-family: "Google Sans", "Roboto", Arial, Helvetica, sans-serif;
  cursor: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  /*background-image: linear-gradient(180deg, #c9f0c9a6 0%, #FFFFFF 100%);*/
}

.main {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1296px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  background: #ffffffa8;
  border: 1px solid #dddddd;
  border-radius: 30px;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  margin: 6.6rem 0;
  padding: 3.3rem;
}

.content-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.page-heading {
  margin-top: -6rem;
  font-size: 7em;
  font-weight: 1000;
  text-align: center;
}

.un-logo {
  background-image: url("./Images/unsdg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 6rem;
}

.sustainable-goals {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
}

.sustainable-goal {
  width: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
}

.mission-statement {
  margin: auto;
  max-width: 60rem;
  min-height: 100vh;
}

.mission-statement > .main-container {
  padding: 2rem;
}

.news-articles {
  padding: 0 1rem;
  row-gap: 1.3rem;
}

.subscribe {
  margin: auto;
  max-width: 44rem;
}

.subscribe > .main-container {
  padding: 2rem;
}

.newsletter-info-button * {
  cursor: pointer;
  width: auto !important;
  transition: color 0.15s ease-in-out;
}

.newsletter-info-button:hover {
  cursor: pointer;
  color: #555555;
}

.bg {
  animation: slide 90s ease-in-out infinite alternate;
  background-image: url("./Images/home-bg.png");
  background-position-y: 15rem;
  background-repeat: repeat-x;
  background-size: 150vh;
  bottom: 0;
  left: -50%;
  opacity: 0.2;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  background-image: url("./Images/home-bg.png");
  background-position-y: 20rem;
  background-repeat: repeat-x;
  opacity: 0.4;
  background-size: 180vh;
  animation-direction: alternate-reverse;
  animation-duration: 60s;
}

.bg3 {
  background-image: url("./Images/home-bg.png");
  background-position-y: 25rem;
  background-repeat: repeat-x;
  opacity: 1;
  background-size: 210vh;
  animation-duration: 30s;
}

.not-found {
  background-image: url("./Images/lost.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  padding-bottom: 200px;
}

.modal-content  {
  border-radius: 50px !important;
}

.modal-header {
  text-align: center !important;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center !important;
}

.modal-footer > button {
  width: auto;
  color: #ffffff;
  background-color: #009664;
  border-color: #00966448;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px;
}

.modal-footer > button:hover {
  color: #124512;
  background-color: #ffffff;
  border-color: #009664;
}

@keyframes slide {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-10%);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media (max-width: 1296px){
  .main {
    font-size: large;
    padding: 3rem;
  }
}

@media (max-width: 1024px){
  .main {
    font-size: medium;
  }

  .page-heading {
    font-size: 5rem;
    padding: 2rem;
  }
}


@media (max-width: 768px){
  .main {
    font-size: small;
    padding: 1rem;
  }
}