nav-link {
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    display: flex;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #124512;
    background-color: white;
}

.action-list {
    text-align: center;
}

.actions-card {
    display: inline-table;
    padding: 20px;
    border-radius: 30px;
    background-color:#FEFEFE;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 10px;
    max-width: 30%;
}

.actions-card h4{
    color: #124512;
}

.heading{
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.action-favorite-button {
    cursor: pointer;
    float: right;
    font-size: 1.2rem;
    color:#124512;
    border-radius: 50px !important;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0.7;
}

.action-favorite-button:hover {
    box-shadow: rgb(99 99 99 / 30%) 0px 3px 3px 0px;
    opacity: 1;
}

.action-favorite-button > svg > path {
    cursor: pointer;
}

.user-action {
    display: block;
    padding: 20px;
    border-radius: 30px;
    background-color:#FEFEFE;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 90%;
    text-align: center;
}
